<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../styles/index.css"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header class=".header">
    {% block header %}
    Main content
    {% endblock %}
</header>
<body class=".body">
    {% block main %}
        Main content
    {% endblock %}
</body>
{% include "../components/footer.njk"%}
</html>
