<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% from "./components/button.njk" import button %}
    <title>Title</title>
</head>
<body>
<h3>Hello you have logged in with username:{{username}} and password:{{password}}</h3>

<p> {% set foo = "bar" %}
    {{ foo }}
</p>
{{ button('Click to go the pictures','/characters') }}
<!-- Similar to components in react-->
{% include "./components/footer.njk" %}

</body>

</html>
