<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../src/main/express.js"></script>
{% from "./components/mac.njk" import cardSwatch %}
{% from "./components/mac.njk" import testMacro %}
</head>
<body>
{{ cardSwatch("grayDark", "#333333", "For things like code block backgrounds.") }}
{{ testMacro("Yoda")  }}
</body>
</html>
