<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% from '../views/components/form.njk' import form %}
</head>
<body>
<!-- Can be made as a macro (better if it had arguments).-->
    {{ form() }}

</body>
</html>
