<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% from '../views/components/form.njk' import form %}
</head>
{% include '../views/components/header.njk' %}
<body>
<!-- Can be made as a macro.-->
    {{ form() }}
</body>
{%  include '../views/components/footer.njk' %}
</html>
