{% extends "./base-templates/base.njk" %}
{% from './components/character.njk' import character %}

  {% block header %}
    <h1>Welcome to using extends</h1>
  {% endblock %}

  {% block main %}
     {% for char in characters %}
        {{   character(char.name,char.image) }}
      {% endfor %}
  {% endblock %}
