{% extends "./base-templates/base.njk" %}

  {% block header %}
    <h1>Welcome to using extends</h1>
    {% endblock %}

      {% block main %}
        <div>
        <p> This is the main content from the extends html </br> This could be used if you have alot of pages with similar
        structures.
        </p>
        </div>
        {% endblock %}
