.body {
    background-color: bisque;
}

.header {
    background-color: blue;
}

.footer {
    background-color: black;
    color: white;
}

#button {
    background-color: red;
    color: white;
}


#background-main {
    background-color: blueviolet
}


