{% macro form() %}
<form method="post" action="/confirmation">
    <h3>Enter your credentials</h3>
    <label>Username:
        <input type="text" name="userName">
    </label>
    <label>
        Password:
        <input type="password" name="password">
    </label>
    <input type="submit" value="submit">
</form>
{% endmacro %}
